.step-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e5e7eb;
}

.step-container {
    display: flex;
    align-items: center;
}

.step {
    display: flex; // flex
    align-items: center; // items-center
    gap: 0.5rem; // gap-2
    padding-left: 0.75rem; // px-3
    padding-right: 0.75rem; // px-3
    padding-top: 0.375rem; // py-1.5
    padding-bottom: 0.375rem; // py-1.5
    border-radius: 9999px; // rounded-full
    font-size: 0.875rem; // text-sm
    font-weight: 500; // font-medium
    transition:
        color 0.2s,
        background-color 0.2s,
        border-color 0.2s;
    .current-step {
        background-color: "#171717";
        color: "#FAFAFA";
    }

    .checked-step {
        background-color: #17171733; // bg-primary/20
        color: #171717;
    }

    .next-step {
        color: hsl(240 5% 64.9%);
        background-color: hsl(240 3.7% 15.9%);
    }
}

.chevron-icon {
    height: 1rem;
    width: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: #6b7280;
}
