.container {
    width: 850px;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.negative {
    color: red;
}

.positive {
    color: green;
}

.table-summary {
    font-size: large;
    font-weight: bold;
    height: 75px;
}
