.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f1f6f7; /* suave e clean */
}

.authBox {
    width: 900px;
    height: 600px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.15);
    position: relative;
    overflow: hidden;
    display: flex;
}

/* Lado da imagem */
.imageSide {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.8s ease-in-out;
}

.imageFade {
    // opacity: 0.5;
}

/* Lado do formulário */
.formWrapper {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
    transition:
        right 0.8s ease-in-out,
        opacity 0.4s ease-in-out;
    opacity: 1;
}

.formFade {
    opacity: 0;
}

/* Estado login */
.signinState .imageSide {
    left: 0;
}
.signinState .signupImage {
    opacity: 0;
}
.signinState .formWrapper {
    right: 0;
}

/* Estado cadastro */
.signupState .imageSide {
    left: 50%;
}
.signupState .signinImage {
    opacity: 0;
}
.signupState .formWrapper {
    right: 50%;
}

.toggleBtn {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.6rem 1.4rem;
    border: none;
    background: #29a6d7;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}
