.breadcrumb {
    margin: 16px;
}

.header_command {
    margin: 2px 16px;
}

.container {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.title {
    margin: 8px;
}

.sub-title {
    margin: 8px 16px;
    color: #aaaaaa;
}
