.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(135deg, #667eea 0%, #081550 100%);
    color: white;
}

.body {
    position: relative;
    padding: 8px;
    width: 100%;
}

.internal-page {
    margin: 0 auto;
}
