.layout {
    display: grid;
    grid-template-rows: 64px calc(100vh - 64px - 54px) 54px;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
        'sidebar header'
        'sidebar content'
        'sidebar footer';
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
    padding: 24px;
    background: #f0f2f5;

    overflow: auto;
}

.footer {
    grid-area: footer;
    text-align: center;
    padding: 16px 0;
    background: #fff;
    border-top: 1px solid #f0f0f0;
    color: #888;
    font-size: 14px;
}
